@model IEnumerable<RoomViewModel>
@{
    ViewData["Title"] = ViewBag.Title;
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
                <table id="table" class="table table-bordered table-striped text-nowrap">
                    <thead class="text-primary text-capitalize">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.RoomPhotos)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.HotelName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RoomTypeName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Rate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NumberOfRooms)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                     @{
                                        if (item.RoomPhotos.Count() > 0)
                                        {
                                            string path = Url.Content("~/Images/Rooms/" + item.RoomPhotos.FirstOrDefault().FileName);

                                            <img class="shadow border rounded" src="@path" width='200' height='120' />
                                        }
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HotelName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RoomTypeName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Rate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NumberOfRooms)
                                </td>
                                <td>
                                    <a class="btn btn-secondary me-2" asp-action="Edit" asp-route-id="@item.Id"> <i class="bi bi-pencil-square"></i> Edit</a>

                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"> <i class="bi bi-trash3"></i> Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <a class="btn btn-secondary" asp-action="Create">Create New</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        $(function () {
            $("#table").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print"]
            }).buttons().container().appendTo('#table_wrapper .col-md-6:eq(0)');
        });
    </script>
}
