@model RoomViewModel
@using System.Text.Json;
@{
    ViewData["Title"] = ViewBag.Title;
}

<div class="bg-light">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item p-2"><a class="text-decoration-none text-success" href="#">Mastser Data Setup</a></li>
            <li class="breadcrumb-item p-2 active " aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>
</div>

<p class="text-secondary fw-bolder">@ViewBag.Title</p>
<form asp-action="Edit" enctype="multipart/form-data">

    <div class="mb-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
    </div>

    <div class="row mb-3">
        <div class="col-4">
            <div class="form-group mb-3">
                <label asp-for="HotelId" class="control-label"></label>
                <select asp-for="HotelId" class="form-control" asp-items="ViewBag.HotelId"></select>
            </div>
            <div class="form-group mb-3">
                <label asp-for="RoomTypeId" class="control-label"></label>
                <select asp-for="RoomTypeId" class="form-control" asp-items="ViewBag.RoomTypeId"></select>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="NumberOfRooms" class="control-label"></label>
                <input asp-for="NumberOfRooms" class="form-control" />
                <span asp-validation-for="NumberOfRooms" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Rate" class="control-label"></label>
                <input asp-for="Rate" class="form-control" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-8">
            <div class="form-group mb-3">
                <label class="control-label">Add Beds</label>
                <input id="bedtypes" type="hidden" value="@ViewData["BedTypes"]" />
                <table id="tblRoomBeds" class="table table-bordered table-striped"></table>
                <input asp-for="RoomBedsJsonString" type="hidden" id="RoomBedsJsonString" />
            </div>
            <div class="form-group">
                <label class="control-label">Check the facilities</label>
                <div class="d-flex">
                    @for (var i = 0; i < Model.RoomFacilities.Count; i++)
                    {
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" asp-for="RoomFacilities[i].Selected" />
                            <label class="form-check-label"> @Model.RoomFacilities[i].Text</label>
                            <input type="hidden" asp-for="@Model.RoomFacilities[i].Value" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-4">
            <div class="form-group">
                <label asp-for="FileRoomPhotos" class="control-label"></label>
                <input asp-for="FileRoomPhotos" type="file" multiple class="form-control" />
                <span asp-validation-for="FileRoomPhotos" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <div id="images_preview" class="mb-3 d-flex d-none border border-success border-1 p-2 justify-content-between flex-wrap"> </div>
            <input type="button" class="btn btn-danger d-none mb-3" value="Remove Images" id="btnRemoveImages" />
        </div>
    </div>
    <div class="form-group mb-3 d-flex">
        <input type="submit" value="Create" class="btn btn-success me-2" />
        <a class="btn btn-secondary" asp-action="Index">Back to List</a>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        let jdata_grid = null;

        document.addEventListener("DOMContentLoaded", function () {

            let _bedtypes = JSON.parse(document.querySelector("#bedtypes").value);
            let _roomBeds = JSON.parse(document.querySelector("#RoomBedsJsonString").value);

            jdata_grid = new jdatagrid(
                {
                    table_name: '#tblRoomBeds',
                    item_list: [
                        { name: 'BedTypes', input_type: 'select', header_text: 'BedType', is_require: false, require_message: 'Please Entry BedType.', attributes: [{ name: 'class', value: 'form-control' }], data: _bedtypes },
                        { name: 'NumberOfBeds', input_type: 'number', header_text: 'Number of Beds', is_require: true, require_message: 'Require Number of Beds.', attributes: [{ name: 'class', value: 'form-control' }] }
                    ],
                    is_pagination: true,
                    page_size: 3,
                    target_controlId: 'RoomBedsJsonString',
                    data: _roomBeds
                }
            );
            //end jdatagrid

            let btnRemoveImages = document.querySelector("#btnRemoveImages");
            let output = document.querySelector("#images_preview");
            var filesInput = document.querySelector("#FileRoomPhotos");

            btnRemoveImages.addEventListener("click", function () {
                filesInput.value = "";
                output.innerHTML = "";
                output.classList.add("d-none");
                btnRemoveImages.classList.add("d-none");
            });

            //Check File API support
            if (window.File && window.FileList && window.FileReader) {

                filesInput.addEventListener("change", function (event) {

                    var files = event.target.files; //FileList object

                    btnRemoveImages.classList.remove("d-none");
                    output.classList.remove("d-none");
                    output.innerHTML = "";


                    for (var i = 0; i < files.length; i++) {
                        var file = files[i];

                        //Only pics
                        if (!file.type.match('image'))
                            continue;

                        var picReader = new FileReader();

                        picReader.addEventListener("load", function (event) {

                            var picFile = event.target;

                            var div = document.createElement("div");

                            div.innerHTML = "<img width='350' height='220' class='m-2 border border-2 rounded shadow' src='" + picFile.result + "'" + "title='" + picFile.name + "'/>";

                            output.insertBefore(div, null);

                        });

                        //Read the image
                        picReader.readAsDataURL(file);
                    }

                });
            }
            else {
                console.log("Your browser does not support File API");
            }
        });
    </script>
}
