@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<RoomViewModel>
@{
    ViewData["Title"] = "Panda Hotels";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="row">

    @if (Model != null)
    {
        foreach (var item in Model)
        {

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">


                    <img src="@Url.Content("~/Images/Rooms/" + item.RoomPhotos.FirstOrDefault().FileName)"
                         width="100%" height="225" class="img-thumbnail bd-placeholder-img card-img-top" alt="...">

                    <div class="card-body">
                        <strong class="card-title">@item.HotelName / RoomType (@item.RoomTypeName)</strong>
                        <h6 class="card-subtitle mb-2 text-muted">Room Facilities</h6>
                        @if (item.RoomFacilityList.Count > 0)
                        {
                            <ul>
                                @foreach (var facility in item.RoomFacilityList)
                                {
                                    <li>@facility</li>
                                }
                            </ul>
                        }
                        @if (item.RoomBeds.Count > 0)
                        {
                            <h6 class="card-subtitle mb-2 text-muted">Room BedTypes</h6>
                            <ul>
                                @foreach (var bed in item.RoomBeds)
                                {
                                    if (bed.BedTypes.Count > 0)
                                    {
                                        foreach (var _bedtype in bed.BedTypes)
                                        {
                                            <li>@_bedtype.text</li>
                                        }
                                    }
                                }
                            </ul>
                        }
                        <div class="d-flex justify-content-between align-items-center">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <form asp-action="Reserve" asp-controller="Home">
                                    <input type="hidden" name="id" id="id" value="@item.Id">
                                    <button type="submit" class="btn btn-primary">Reserve</button>
                                </form>
                                @*<a asp-controller="Home" asp-action="Reserve" asp-route-id="@item.Id" class="btn btn-primary">Reserve </a>*@
                            }
                            else
                            {
                                <a href="#" class="btn btn-secondary disabled">Reserve </a>
                            }

                            <small class="text-capitalize">@item.Price USD</small>
                        </div>
                    </div>
                </div>
            </div>

        }
    }
</div>